@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lato&family=Montserrat+Alternates:wght@400;700;900&display=swap');
body.body-mountain{
	font-family: Montserrat;
	font-size: 20px;
	line-height: 1.6;
	background-color: #f4f3f9;
	color: #3c2a4d;
}
nav.nav-mountain{
	height: 700px;
	background: linear-gradient(176deg, rgba(251, 251, 251, 0.205) 1%, rgba(251,251,251,1) 100%), url("../img/pexels-krivec-ales-547115.jpg") center / cover no-repeat;
}
.navigation-list{
	text-align: center;
	margin-bottom: 10%;
}
.item-list{
	display: inline-block;
	padding: 0.5%;
}

h1.h1-mountain{
	font-weight: 900;
	font-size: 45px;
	text-align: center;
}
.description{
	max-width: 700px;
	margin: 1% auto 1%;
	padding: 1%;
	text-align: justify;
}
.mountain{
	padding: 1%;
	text-align: justify;
}

.h2-heading{
	font-weight: 700;
}
.img{

	margin: 0 auto 0;
	height: 900px;
	width: auto;
	border-radius: 1%;
	box-shadow: 10px 10px 5px 0px rgba(149,173,190,0.75);
}
.background-zhangjiajie{
	background: url('../img/1.национальный-парк-чжанцзяцзе-китай.jpg') center / cover no-repeat fixed;
}
.background-polinesia{
	background: url('../img/2.муреа-французская-полинезия.jpg') center / cover no-repeat fixed;
}
.background-rainbow-mountain{
	background: url('../img/3.радужные-горы-китай.jpg') center / cover no-repeat fixed;
}
.background-devil-tower{
	background: url('../img/4.башня-дьявола-сша.jpg') center / cover no-repeat fixed;
}
.background-fairy-chimneys{
	background: url('../img/5.каппадокия-турция.jpg') center / cover no-repeat fixed;
}
.background-kinabalu-mountain{
	background: url('../img/6.гора-кинабалу-малайзия.jpg') center / cover no-repeat fixed;
}
.background-bangl-bangl{
	background: url('../img/7.хребет-бангл-бангл-в-австралии.jpg') center / cover no-repeat fixed;
}
.background-serro-torre{
	background: url('../img/8.серро-торре-патагония.jpg') center / cover no-repeat fixed;
}
.background-otemanu-mountain{
	background: url('../img/9.отеману-бора-бора.jpg') center / cover no-repeat fixed;
}
.background-chocolate-mountains{
	background: url('../img/10.шоколадные-холмы-филиппины.jpg') center / cover no-repeat fixed;
}

main.mountain{
	text-align: center;
}
.copyright{
	border: #3c2a4d solid;
	font-size: 14px;
	color: #3c2a4d86;
	padding: 0 1%;
}
.h2-heading{
	margin-bottom: 2%;
}
.maket{
	display:inline-block;
	text-align: center;
	min-width:250px;
	min-height: 100px;
	background-color: #FFFFFF;
	border: #f4f3f9;
	border-radius: 5%;
	color: #FFFFFF;
/* text-align: center; */
	/* color: white; */
	margin: 3% 15% 3%;
	padding-top: 30px;
}
footer{
	background: linear-gradient(5deg, rgba(251, 251, 251, 0.685) 53%, rgba(251,251,251,1) 100%), url("../img/footer-pexels-invisiblepower-1076885.jpg") center / cover no-repeat;
	height: 200px;
}

/* ===========================article1==================================== */
body.article1{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	max-width: 42.18%;
	margin: 10% 40% 0 18%;
	color:#424551;
	line-height: 1.6;
	font-weight: 400;

}

h1.article1{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 4%;
}
span.article1-span{
	font-weight: 400;
	line-height: 1.6;
	padding: 0 1%;
	padding-left: 4%;
	color: #787A80;
}
div.labels{
	margin-bottom: 40px;	
}
span.time{
	background: url('../img/Clock.png') 0 0 / 19px no-repeat;
	margin-left: 4%;
}
span.calendar{
	background: url('../img/Calendar.png') 0 0 / 19px no-repeat;
}
div.top-image{
	width: auto;
	height: 320px;
	background: url('../img/article1TopImage.png') center/ cover no-repeat;
	margin-bottom: 9%;
}

.emphasize{
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}

.article1-p1{
	margin-bottom: 3.5%;
}

.article1-p2{
	margin-bottom: 3%;
}
.article1-p3{
	margin-bottom: 7%;
}

blockquote.blockquote-article1{
	background: url('../img/braces.png') 0 0 no-repeat;
	padding-left: 8%;
	margin-bottom: 7%;
}
.article1-p4{
	margin-bottom: 3.5%;
}

.list-items-article1{
	background: url('../img/check.png') 0 0 / 19px no-repeat;
	padding-left: 5%;
	margin-bottom: 4px;
}
.list-items-article1:last-child{
	margin: 0;
}

.ul-article1{
	margin-bottom: 3.5%;
}
/* ===========================Article2============================== */
main.article2{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 390px;
}
.who-we-are{
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #1E212C;
	margin-bottom: 8px;
}
.article2-h1{
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
	margin-bottom: 72px;
}
.list-items-article2{
	line-height: 1.6;
	color: #424551;
	background-image: url('../img/check.png');
	background-size: 16px;
	background-repeat: no-repeat;
	padding-left: 32px;
	margin-bottom: 12px;
}
.list-items-article2:last-child{
	margin-bottom: 0;
}

button.more-about-us{
background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
width: 161px;
height: 44px;
color: #FFFFFF;
text-align: center;
letter-spacing: 0.5px;
}
.article2-ul{
	margin-bottom: 22px;
}